html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
html {
  scrollbar-width: thin;
  background-color: #0f0f0f;
  color: #f0f0f0;
  color-scheme: dark;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin: 10vw;
}
.tx {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.qt {
  font-size: 24px;
}
.au {
  float: right;
  font-size: 18px;
}
.tx::selection {
  color: #0f0f0f;
  background-color: #f0f0f0;
}
@media (prefers-color-scheme: light) {
  html {background-color: #f0f0f0; color: #0f0f0f; color-scheme: light;}
  .tx::selection {color: #f0f0f0; background-color: #0f0f0f;}
}